{% load static %}	
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
	<title>Hello World - {% block sitetitle %}{% endblock %}</title>
</head>
<body>
	<section class="form__container">
	<form method="POST" enctype="multipart/form-data" action="" class="form">
		{% csrf_token %}
		<div class="form__title">
			<img src="{% static 'images/logo.svg'%}" alt="">
			<h1>{% block title %}{% endblock %}</h1>
		</div>
		{% block content %}
		{% endblock %}
		<div class="form__buttons">
		 	<a href="{% url 'home'%}">Вернуться назад</a>
			<button type="submit">{% block buttonlabel %} {% endblock %}</button>
		</div>
		{% block messages %}
		{% endblock%}

	</form>
</section>
</body>
</html>